<template>
    <v-app id="inspire">
        <v-main>
            <v-form>
                <v-container>
                    <v-row>
                        <v-col cols="10" sm="6">
                            <v-text-field
                                label="Местоположение"
                                name="city"
                                prepend-icon="mdi-map-marker"
                                type="text"
                                placeholder="Укажите город"
                                list="city_list"
                                v-model="location"
                                :rules="[rules.empty]"
                            ></v-text-field>

                            <dataList id="city_list">
                                <option v-for="item in filtered_cities" v-bind:value="item">
                                    {{item}}
                                </option>
                            </dataList>
                        </v-col>
                        <v-col cols="2" sm="6">
                            <div class="my-2">
                                <v-btn color="success" fab medium dark alt="Проверить" v-on:click="weatherContent(location)">
                                    <v-icon medium>mdi-marker-check</v-icon>
                                </v-btn>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>

            <v-container>
                <v-row>
                    <v-col cols="10" sm="6">
                        <v-simple-table v-if="forecast_list.length > 0">
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th class="text-left">Дата</th>
                                    <th class="text-left">Температура <v-icon small>mdi-temperature-celsius</v-icon></th>
                                    <th class="text-left">Солнечный день</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in forecast_list" :key="item" v-model="forecast_list">
                                    <td>{{ item[0] }}</td>
                                    <td>{{ item[1].average }}</td>
                                    <td v-if="item[1].clear"><v-icon medium>mdi-white-balance-sunny</v-icon></td>
                                    <td v-else></td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                        <div class="my-2" v-else>
                            <p>Данные не найдены</p>
                        </div>
                    </v-col>
                    <v-col cols="2" sm="6">
                        <h2>Сервис проверки погоды</h2>
                        <p>API погоды - https://openweathermap.org/api</p>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: 'HomeIndex',
        data: () => {
            return {
                location: '',
                days: 40,
                cities: [],
                forecast_list: [],
                filtered_cities:[],
                rules: {
                    empty: v => v.length != 0 || 'Необходимо ввести город',
                },
            }
        },
        watch:{
            location: function(val){
                if (val.length < 3 ) return;

                if (val.length == 0) {
                    this.message_alert = 'Введите город';
                }

                this.searchCity(val);
                let filtered = this.cities;

                if (filtered.length == 1) {
                    this.filtered_cities = null;

                    return;
                }

                this.filtered_cities = filtered;
            }
        },
        created() {
            this.loadGeoCity();
        },
        methods: {
            async loadGeoCity() {
                let uri_city = '/api/geo/location';

                this.axios.get(uri_city).then(response => {
                    this.location = response.data.location.city;

                    this.weatherContent(this.location);
                });
            },
            async weatherContent(city) {
                let uri_weather = '/api/openweather/forecast/' + city + '/' + this.days;

                this.axios.get(uri_weather/*, {
                    params: {
                        city: city,
                        days: this.days
                    }
                }*/).then(response => {
                    let forecast = response.data.weather[0];

                    this.forecast_list = Object.entries(forecast);
                })
                .catch(() => {
                    this.forecast_list = [];
                    console.log('forecast - error from Home/Index.vue');
                });
            },
            async searchCity(query){
                let uri_geographer = '/api/geographer/cities/search';

                this.axios.get(uri_geographer, {
                    params: {
                        city: query
                    }
                }).then(response => {
                    this.cities = response.data.cities;
                })
                .catch(() => {
                    console.log('Geographer search - error from Home/Index.vue');
                });
            }
        }
    }
</script>
